<div class="container">
    <h2 class="text-center">Welcome!!</h2>
    <br>
    <br>
    <form>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="registerNewAdmin()">New Admin Registration</button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="registerNewPatient()">New Patient Registration</button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="registerNewDoctor()"> New Doctor Registration </button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="bookGroupAppointment()"> Book Group Appointment </button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="viewExistingPatients()"> View Patients </button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="viewExistingAdmins()"> View Admin </button>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" ng-click="viewExistingDoctors()">View Doctors</button>
        </div>
    </form>
</div>
